%% -*- erlang -*-
%%
%% Copyright (c) 2011 Invectorate LLC. All rights reserved.
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.

{sys, [{lib_dirs, ["../apps", "../deps"]},
       {rel, "ringmq", "1",
        [kernel, stdlib, sasl,
         inv_tcps, riak_err, riak_sysmon,
         os_mon, crypto, runtime_tools, mochiweb, webmachine,
         riak_core, riak_kv, bitcask, luke, erlang_js, ebloom, eper,
         ringmq,
         basho_stats, cluster_info
        ]},
       {rel, "start_clean", "",
        [kernel, stdlib]},
       {boot_rel, "ringmq"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, inv_tcps, [{incl_cond, include}]},
       {app, riak_err, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, riak_kv, [{incl_cond, include}]},
       {app, luke, [{incl_cond, include}]},
       {app, erlang_js, [{incl_cond, include}]},
       {app, ebloom, []},
       {app, eper, [{incl_cond, include}]},
       {app, ringmq, [{incl_cond, include}]},
       {app, cluster_info, [{incl_cond, include}]}
      ]}.

{target_dir, "ringmq"}.

{overlay, [{mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ringmq", "bin/ringmq"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}]}.
